.guardian-request-page{

padding:30px;

color:white;

}

.guardian-request-page h1{

margin-bottom:30px;

}

.request-card{

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

border-radius:18px;

padding:25px;

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

backdrop-filter:blur(20px);

}

.request-card h2{

margin-bottom:10px;

}

.request-card p{

color:#bbb;

}

.request-buttons{

display:flex;

gap:15px;

}

.accept-btn{

background:#22c55e;
height:40px;
width:80px;
border:none;

padding:12px 22px;

border-radius:10px;

color:white;

cursor:pointer;

font-size:15px;

}

.reject-btn{

background:#ef4444;
height:40px;
width:80px;
border:none;

padding:12px 22px;

border-radius:10px;

color:white;

cursor:pointer;

font-size:15px;

}

.accept-btn:hover{

opacity:.9;

}

.reject-btn:hover{

opacity:.9;

}

.empty-box{

padding:80px;

text-align:center;

background:rgba(255,255,255,.05);

border-radius:20px;

font-size:20px;

}